@import "base";

$note-list-width: 250px;
$note-view-btn-list-height: 30px;

#note-list{
  @include box-sizing(border-box);
  height: calc(100% - #{$create-btn-height});
  padding: 10px 10px 0 10px;

  overflow: scroll;

}

#note-list-container{
  background-color: rgba(255,255,255,0.7);
  pointer-events: all;
  margin-left: 10px;
  width: $note-list-width;
  height: 100%;
  float: left;
}

#note-container{
  width: calc(100% - #{$note-list-width} - 10px);  // 10px -> note list margin left
  height: 100%;
  float: left;
  padding: 10px;
  @include box-sizing(border-box);
  //margin: 15px 15px 15px 25px;
}

#note-view{
  height: 100%;
  width: 100%;
  @include single-box-shadow(rgba(0,0,0,.2), 3px, 3px, 1px);
  @include box-sizing(border-box);
  padding: 20px;
  background-color: white;
  pointer-events: all;
  @include border-radius(5px);

  p {
    @include box-sizing(border-box);
    padding: 10px;
  }

  .note-title{

  }

  .note-content{

  }

}

.note-digest-view{
  height: 220px;
  margin-bottom: 10px;
  background-color: white;
  @include border-radius(5px);
  @include single-box-shadow(rgba(0,0,0,.2), 1px, 1px, 1px);

  .image-slot{
    height: 0;
    width: 100%;
    background-color: grey;
  }

  .image-slot.has-image{
    height: 150px;
    //background-image: image-url();
    @include background-size(100%);
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    @include box-sizing(border-box);
    padding: 10px 10px 0 10px;
  }

  .note-title{
    @include title-font();
  }

  .note-content{
    @include content-font();
  }


}

.note-title-input{
  width: 500px;
}

.note-content-input{
  width: 100%;
  height:auto;
}

.note-content{
  border-bottom: 0px !important;

}

#new-note-btn-container {
  @include box-sizing(border-box);
  margin: 0;
  display: block;
  height: $create-btn-height;
  padding: 10px;
  div {
    display: block;
  }
}

#note-view-btn-list{
  height: $note-view-btn-list-height;
  margin-top: -10px;
  li{
    @include inline-block;
    float: right;
    height: $note-view-btn-list-height;
    width: $note-view-btn-list-height;
    opacity: 0.3;
    cursor: pointer;

    &:hover{
      opacity: 0.9;
    }

  }

  #note-view-delete-btn{
    @include icon-background("delete_btn.png", 60%);
  }

  #note-view-close-btn{
    @include icon-background("close_btn.png", 45%);
  }
}

