<div class="pin-text-div">
    <span class="pin-title"><%= title %></span><br>
    <span class="pin-time"></span><br>
    <span class="pin-address"><%= address %></span><br>
    <div class="pin-delete-btn pin-btn"></div>
    <div class="pin-edit-btn pin-btn"></div>
    <div class="pin-save-btn pin-btn">s</div>
</div>

