
<form id="pin-info-form" class="border-style1" name="pin">
    <label name="title" >Title: </label>
    <input type="text" name="title" value="<%= title %>" /><br>
    <label name="address" >Address: </label>
    <input type="text" name="address" value="<%= address %>" /><br>
    <input id="submit-new-pin-btn" type="button" value="Pin it!" />
</form>