
<label name="title" >Title: </label>
<span type="text" name="title"><%= title %></span><br>
<label name="address" >Address: </label>
<span type="text" name="address"><%= address %></span><br>
<label name="time" >Time</label>
<span type="text" name="startTime"><%= start_time %></span><br>
<span type="text" name="endTime"><%= end_time %></span><br>
