<form id="note-create-form" class="" name="note" action="/notes" method="post" enctype="multipart/form-data">
    <input type="hidden" name="pin_id"/>
    <input type="text" name="content" /><br>
    <input type="file" name="image">
    <input name="authenticity_token" type="hidden" value="" />
    <input id="submit-new-note-btn" type="button" value="create" />
</form>