<form id="note-upload-image-form" class="border-style1" action="/notes/<%= id %>/image" method="post" enctype="multipart/form-data">
    <label name="image_upload" >Upload Image: </label>
    <input type="file" name="image_upload" /><br>
    <input id="upload-image-btn" type="submit" value="Upload" />
    <input id="cancel-upload-btn" type="button" value="Cancel" />
</form>

