<form id="note-upload-image-form" class="border-style1" action="/notes/<%= id %>/image.json" method="post" enctype="multipart/form-data">
    <label name="image_upload" >Upload Image: </label>
    <input type="file" name="file" /><br>
    <input name="authenticity_token" type="hidden" value="" />
    <input id="upload-image-btn" type="button" value="Upload" />
    <input id="cancel-upload-btn" type="button" value="Cancel" />
</form>