<form id="note-upload-image-form" class="border-style1">
    <label name="image_upload" >Upload Image: </label>
    <input type="file" name="image_upload" /><br>
    <input id="upload-image-btn" type="button" value="Upload" />
    <input id="cancel-upload-btn" type="button" value="Cancel" />
</form>
