<ul id="note-view-btn-list">
    <li id="note-view-close-btn"></li>
    <li id="note-view-delete-btn"></li>
</ul>
<p class="note-title"><%= title %></p>
<p class="note-content"><%= content %></p>
<div class="note-attachments">

</div>