<ul id="note-view-btn-list">
    <li id="note-view-close-btn"></li>
    <li id="note-view-delete-btn"></li>
    <li id="note-view-save-btn">s</li>
    <li id="note-view-image-btn">m</li>
</ul>
<p class="note-title"><%= title %></p>
<p class="note-content"><%= content %></p>
<div class="note-attachments">
  <div class="attachment-split-line"></div>
</div>